$delay: 300ms;
$timing-fn: ease-out;

@mixin prefix($property, $value, $prefixes: ()) {
   @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  #{$property}: $value;
}

@mixin gradientBackground($startColor, $stopColor) {
  background-image: -webkit-linear-gradient(left, $startColor, $stopColor);
  background-image: linear-gradient(to right, $startColor, $stopColor);
}

@mixin base-node() {
  list-style: none;
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 36px;
  top: 0;
  left: 0;

  /*
   * This seems weird, and it is, but in FF (See #364), when nodes are moved in the tree, when you go to update some innerHTML of the node
   * the node text disappears. It seems to be a bug introduced in FF 25 (worked fine up until FF 24.8). Forcing a node's overflow to visible
   * forces FF to not make the innerHTML of the `.label` vanish. Somewhat surprisingly, overflow of visible is okay since we're using label masking.
   * See a simplified demo of the bug here: http://codepen.io/anon/pen/VmRROj
   */
  overflow: visible;

  transition-property: opacity;
  transition-duration: $delay;
  transition-timing-function: $timing-fn;

  .node-contents {
    padding: 10px 0px 8px;
    font-size: 13px;
    line-height: 1; // automatically the same as font size
    text-align: left;
    white-space: nowrap;

    svg.icon {
      display: inline-block;
      vertical-align: middle;
      margin-left: 2px;
      width: 12px;
      height: 11px;
    }

    .label {
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;
      color: #ADB8BC;
      text-shadow: 0 1px 0 rgba(#000000, 0.23);
    }
  }

  .label-mask {
    /* This is used to mask long label names on the nodes */
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    right: 0;

    &:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      top: 16px;
      right: 12px;
      border-radius: 50%;
    }
  }
}

.tree-container {
  position: relative;
  background-color: #393c40;
  width: 100%;
  height: 100%;

  &.ie-trident {
    .tree {
      &.tree-overflow {
        overflow-y: scroll;
      }
    }
  }

  .traveling-node {
    @include base-node;

    background-color: #D9E2E8;
    width: calc(#{"100% + 13px"});
    cursor: move;
    overflow-x: hidden;

    .node-contents {
      padding: 11px 0px 11px 14px;
      transition-property: transform, opacity;
      transition-duration: $delay;
      transition-timing-function: $timing-fn;

      // Align with non traveling icons
      svg.icon {
        margin-left: 8px;
      }

      .label {
        color: #2d3135;
        transition-property: color;
        transition-duration: $delay;
        transition-timing-function: $timing-fn;
      }
    }

    .label-mask {
      @include gradientBackground(rgba(#393c40, 0) 0%, #D9E2E8 90%);
    }

    &.illegal {
      opacity: .9;

      .node-contents {
        opacity: .7;

        .icon {
          fill: #f35132;
        }

        .label {
          color: #f35132;
        }
      }

      &:after {
        color: #f35132;
        background: #f35132;
        box-shadow: 0 0.25em 0 0 #f35132, 0 0.5em 0 0 #f35132;
      }
    }

    &:after {
      content: "";
      position: absolute;
      width: 12px;
      top: 13px;
      right: 10px;
      height: .1em;
      background: #7fe1f4;
      box-shadow: 0 0.25em 0 0 #7fe1f4, 0 0.5em 0 0 #7fe1f4;

      transition-property: background, box-shadow, color;
      transition-duration: $delay;
      transition-timing-function: $timing-fn;
    }

    .toggler, .indicator:after {
      display: none;
    }
  }

  .tree {
    overflow: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    width: 100%;
    height: 100%;

    @include prefix(user-select, none, webkit moz ms);

    // Most tree functions that modify the dom send a callback into transitionWrap where has some magic
    // to determine whether or not we actually want transitions. It's in charge of adding the .transitions
    // class, executing the callback (which modifies the dom), then removes the class.
    &.transitions {
      ul {
        li.node {
          &.transitioning-node {
            // Transitioning nodes have an opacity of 0, because if they are incoming nodes, they start at 0
            // and if they are outgoing nodes, they end up at 0.
            opacity: 0;

            &:not(.outgoing-node) {
              // For incoming-nodes (i.e. not marked as outgoing-node), ignore transitioning the opacity. Once
              // the transitioning-node class is removed (right after a browser reflow), the transition-property
              // will pick up from the `li.node` styling, so opacity will transition.
              // This fixes a bizarre IE11 bug that will break the entire transition
              transition-property: height, transform;
            }
          }

          transition-property: transform, opacity, height;
          transition-duration: $delay;
          transition-timing-function: $timing-fn;
          .node-contents {
            transition-property: transform, opacity;
            transition-duration: $delay;
            transition-timing-function: $timing-fn;

            .toggler {
              transition-property: transform;
              transition-duration: $delay;
            }
          }
        }
      }
    }

    // Show the expand/collapse indicators on hover
    &:hover {
      // Don't show it for the root node on normal trees
      li.node:not(.root) {
        .toggler { opacity: 1; }
      }
    }

    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px;
      transform: translateX(0); // Specify 0 transform, otherwise we get overflow on nodes

      li.node {
        @include base-node;
        cursor: pointer;

        &.transitioning-node {
          pointer-events: none;
        }

        .node-contents {
          .toggler {
            display: inline-block;
            vertical-align: middle;
            width: 22px;
            height: 22px;
            margin: -4px 0 0 -2px;
            opacity: 0;
            transform: rotate(-90deg);
            transform-origin: center center;

            svg {
              position: absolute;
              width: 9px;
              height: 6px;
              top: 9px;
              right: 8px;
              fill: #818b8f;
            }

            &.expanded {
              transform: rotate(0deg);
            }
            &.leaf { visibility: hidden !important; }
          }
        }

        .label-mask {
          @include gradientBackground(rgba(#393c40,0) 0%, #393c40 90%);

          &.indicator {
            @include gradientBackground(rgba(#393c40,0) 0%, #393c40 50%);
          }
        }

        &.placeholder, &.transition-placeholder {
          &.transition-placeholder {
            // This is for transition placeholder nodes popping in or out
            background-color: #2d3135;
          }

          * {
            display: none;
          }
        }

        &.transient {
          pointer-events: none;
          overflow: hidden; // prevent scrollbar for opening animation
        }

        &.fading-node {
          height: 0; // either finishes or ends at 0
        }

        &.selected {
          background-color: #2d3135;
          z-index: 1;

          &:not(.placeholder):before {
            content: "";
            left: 0;
            position: absolute;
            width: 3px;
            height: 100%;
            background-color: #dde5e8;
          }

          svg.icon {
            fill: #e1e8eb;
          }
          .label {
            color: #e1e8eb;
          }
          .label-mask {
            @include gradientBackground(rgba(#2D3135,0) 0%, #2d3135 90%);

            &.indicator {
              @include gradientBackground(rgba(#2D3135,0) 0%, #2d3135 50%);
            }
          }
        }
      }
    }

    &.editable {
      &.dragging {
        li.node {
          &.selected.placeholder {
            background-color: inherit;
          }
          .toggler {
             opacity: 0 !important; // Never show the toggler when the user is dragging
          }
        }
      }

      &:not(.filtered-results) {
        li.node.movable:not(.root):not(.transient) {
          cursor: move;

          &:hover {
            &:after {
              content: "";
              position: absolute;
              width: 5px;
              top: 13px;
              right: 0;
              height: .1em;
              background: #ADB8BC;
              box-shadow: 0 0.25em 0 0 #ADB8BC, 0 0.5em 0 0 #ADB8BC;
            }
          }
        }
      }

      li.node:not(.transient):not(.selected):not(.transitioning-node) {
        .node-contents, .label-mask:after {
          opacity: .6;
        }
      }
    }

    &.forest-tree {
      .node .node-contents {
        padding-left: 8px;
      }
    }

    &.filtered-results {
      .toggler {
        opacity: 0 !important; // Never show the toggler when displaying filtered results
      }
    }
  }
}
