@import "node_modules/lesshat/build/lesshat-prefixed";

@yellow: #fbcc3c;
@green: #96cd00;
@red: #f35132;

.container {
  background-color: #393c40;
}

div.tree {
  &:hover {
   ul li.node:not(:first-child) {
    div.node-contents {
      .toggler {
        visibility: visible;
      }
    }
   }
  }

  ul {
    list-style-type: none !important;
    padding: 0px;
    margin: 0px;

    li.node {
      cursor: pointer;
      list-style: none;
      position: absolute;
      width: 100%;
      height: 36px;
      top: 0;
      left: 0;
      overflow-x: hidden;

      .lh-transition(transform 300ms ease-out, opacity 300ms ease-out);

      div.node-contents {
        margin: 6px;
        text-align: left;
        white-space: nowrap;
        .lh-transition(transform 300ms ease-out, opacity 300ms ease-out);

        .toggler {
          width: 14px;
          height: 14px;
          //visibility: hidden;
          display: inline-block;
          -webkit-transform: rotate(0deg);
          -webkit-transform-origin: 2px 4px;
          -webkit-transition: -webkit-transform 300ms;

          svg {
            width: 100%;
            height: 100%;
            position: absolute;
          }

          &.expanded {
            -webkit-transform: rotate(90deg);
          }

          &.leaf {
            visibility: hidden !important;
          }
        }

        svg.icon {
          width: 20px;
          height: 14px;

          &.yellow {
            fill: @yellow;
          }

          &.green {
            fill: @green;
          }

          &.red {
            fill: @red;
          }
        }

        span.label {
          color: #818b8f;
          font-size: 13px;
          text-shadow: 0 1px 0 rgba(0,0,0,.23);
          -webkit-user-select: none;
        }
      }

      .indicator {
        &:before {
          content: "";
          pointer-events: none;
          position: absolute;
          width: 100px;
          height: 100%;
          top: 0;
          right: 0;

          .lh-background-image(linear-gradient(left, rgba(0,0,0,0) 0%, #393c40 80%,  #393c40 100%));
        }

        &:after {
          content: "";
          pointer-events: none;
          position: absolute;
          width: 6px;
          height: 6px;
          top: 12px;
          right: 8px;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
        }

        &.yellow {
          &:after {
            background-color: @yellow;
          }
        }

        &.green {
          &:after {
            background-color: @green;
          }
        }

        &.red {
          &:after {
            background-color: @red;
          }
        }
      }

      &:not(.selected) {
        .icon {
          fill: grey !important;
        }
      }

      &.selected {
        background-color: #2d3135;

        div.node-contents {
          span.label {
            color: #e1e8eb;
          }
        }

        .indicator {
          &:before {
            .lh-background-image(linear-gradient(left, rgba(0,0,0,0) 0%, #2d3135 50%));
          }
        }
      }
    }
  }
}

