$color-true-black: #000000;
$color-ash: #EFF3F7;
$color-slate: #616D7A;
$color-warning: #FBCC3C;
$color-error: #FF4D4B;


// Trees
$color-tree-background: #393C40;
$color-tree-node-text-color: #ADB8BC;
$color-tree-node-text-shadow: rgba($color-true-black, 0.23);
$color-tree-node-drag-handle-fill: #555A5E;
$color-tree-node-selected-background: #2D3135;
$color-tree-node-selected-text-color: $color-ash;
$color-tree-node-transient-border: $color-slate;
$color-tree-traveling-node-background: #25282D;
$color-tree-traveling-node-shadow: rgba($color-tree-traveling-node-background,0.50);
$color-tree-editable-highlight: #FFE593;




